
<li class="nav-item dropdown no-arrow mx-1">
    <div class="nav-item dropdown no-arrow">
        <a class="dropdown-toggle nav-link" data-toggle="dropdown" aria-expanded="false" href="#">
            <span class="badge badge-danger badge-counter" id="notifications-count"></span><i class="fas fa-bell fa-fw"></i>
        </a>
        <div class="dropdown-menu dropdown-menu-right dropdown-list dropdown-menu-right animated--grow-in">
            <h6 class="dropdown-header">Notifications</h6>
            <div>
                <div id="notifications-connection-lost" style="display: block">
                    <div class="justify-content-center">
                        <div class="bg-warning text-white text-center">Connexion perdue <i class="fas fa-circle-notch fa-spin"></i></div>
                    </div>
                </div>
                <div id="notifications-none" style="display: none">
                    <div class="mt-1 mb-1 justify-content-center">
                        <div class="text-center">Vous n'avez aucune notification</div>
                    </div>
                </div>
                <div id="notifications-list">
                    <!--<a class="d-flex align-items-center dropdown-item" href="#">
                        <div class="mr-3">
                            <div class="bg-primary icon-circle"><i class="fas fa-file-alt text-white"></i></div>
                        </div>
                        <div><span class="small text-gray-500">December 12, 2019</span>
                            <p>A new monthly report is ready to download!</p>
                        </div>
                    </a>-->
                </div>
            </div>
            <a class="text-center dropdown-item small text-gray-500" href="/account/notification">Afficher tout</a></div>
    </div>
</li>