<div id="user-auth-controller"></div>
<a class="dropdown-toggle nav-link" data-toggle="dropdown" aria-expanded="false" href="#">
    <span class="d-none d-lg-inline mr-2 text-gray-600 small" id="user-username">{{ data:user.username }}</span>
    <img class="border rounded-circle img-profile user-img_profile" src="{{ data:user.img_profile }}">
</a>
<div class="dropdown-menu shadow dropdown-menu-right animated--grow-in">
    <a class="dropdown-item" href="/account"><i class="fas fa-user fa-sm fa-fw mr-2 text-gray-400"></i>&nbsp;Votre profil</a>
    <a class="dropdown-item" href="/account#settings"><i class="fas fa-cogs fa-sm fa-fw mr-2 text-gray-400"></i>&nbsp;Paramètres</a>
    <a class="dropdown-item" href="/account#history"><i class="fas fa-list fa-sm fa-fw mr-2 text-gray-400"></i>&nbsp;Historique d'activité</a>
    <div class="dropdown-divider"></div>
    <a class="dropdown-item" href="/api/v1/logout">
        <i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i>&nbsp;<b>Se déconnecter</b>
    </a>
</div>