<div class="text-center mt-5" style="top: 0">
    <div class="error mx-auto" data-text="404">
        <p class="m-0">404</p>
    </div>
    
    <p class="text-dark mb-5 lead">Page introuvable</p>
    <p class="text-dark-50 mb-1">Soit vous êtes perdu(e)s, soit nous avons gaffé quelque part.<br>Mais on va dire que vous vous êtes perdu(e)s.</p>
    <img src="/assets/img/404/{{ random_404_img }}" alt="" class="mt-1 mb-3 img-thumbnail rounded mx-auto d-block" style="max-height: 200px;">

    <a href="/">← Retourner à l'accueil</a>
    <div class="mb-5"></div>
</div>