<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-9 col-lg-12 col-xl-10">
            <div class="card shadow-lg o-hidden border-0 my-5">
                <div class="card-body p-0">
                    <div class="row">
                        <div class="col-lg-6 d-none d-lg-flex">
                            <div class="flex-grow-1 bg-password-image" style="background-image: url(&quot;/assets/img/login-background.png?h=430aabda8f7926f94f558f54049fc6e6&quot;);"></div>
                        </div>
                        <div class="col-lg-6">
                            <div class="p-5">
                                <div class="text-center">
                                    <h4 class="text-dark mb-2">Vous avez perdu votre mot de passe ?</h4>
                                    <p class="mb-4">Pas de problème ! Entrez votre adresse mail ci-dessous pour recevoir un lien de réinitialisation de votre mot de passe et le tour est joué.</p>
                                </div>
                                <form class="user">
                                    <div class="form-group"><input class="form-control form-control-user" type="email" id="exampleInputEmail" aria-describedby="emailHelp" placeholder="Adresse mail" name="email"></div><button class="btn btn-primary btn-block text-white btn-user"
                                        type="submit">Réinitialiser</button></form>
                                <div class="text-center">
                                    <hr><a class="small" href="/account/create">Créer un compte</a></div>
                                <div class="text-center"><a class="small" href="/login">Vous avez déjà un compte ? Connectez-vous !</a></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>